<%= stylesheet_link_tag "basic" %>
<style type="text/css">
table, td, th
td
{
vertical-align:middle;
}
</style>

<table width="1024" border="0">
  <tr>
    <td width="900" height="450" bgcolor="#D2DBEC">
	<table width="900" height="450" border="0" align="center" bordercolor="#ABBCD8">
	  <tr>
		<td width="900" height="450" align="center" valign="top" bgcolor="#FFFFFF"><table width="900" height="169" border="0">
          <tr>
            <th scope="col"><p><%= image_tag "banner.jpg", :width => "900", :height => "169" %></p>
              </th>
          </tr>
        </table>
		  <table width="904" border="1" align="center" bgcolor="#d2dbec" cellpadding=5>
            <tr>
              <th >Please fill in all fields with your sample data.<br>  Click the create button when you are finished to add the sample into the database and begin the tracking process.<br>
			  Thank you for entering your sample in the NRDPFC DNA databank.<br>  You can check the tracking section (have a link to tracking here) to follow your sample through the system.</th>
            </tr>
          </table>
          
<h2><%= link_to 'Home', menu_path %></h2>
<h2><b><font color=red>CREATE</font></b> New Sample </h2>

	<table width="905" height="395" border="0" align="left" cellspacing="2" cellpadding = "2">
		<tr><th>Name</th><th>Value</th><th>Description</th></tr>
         <tr></tr>
	<% form_for(@sample) do |f| %>

	<tr><td  width="25%"><%= f.label :submitted_by %></td><td width = "35%" ><%= f.text_field :submitted_by %></td><td width = "40%" > Current user Logged in</td></tr>
	<tr><td><%= f.label :date_submitted %></td><td><%= f.text_field :date_submitted,:value => (f.object.date_submitted.to_s(:my_date_format) unless f.object.date_submitted.nil?) %></td><td>Default is today's date</td></tr>
	<tr><td><%= f.label :field_code %></td><td><%= f.text_field :field_code %></td><td>For biopsy samples this will be the whale letter (e.g.) A. For others, this will be the unique identifier for the relevant event (e.g. necropsy)  </td></tr>
	<tr><td><%= f.label :collected_on_day %></td><td><%= f.collection_select(:collected_on_day , Sample::DD, :to_s, :to_s, :include_blank => true) %></td><td>Choose Day from drop down list 1-31 or blank</tr>
	<tr><td><%= f.label :collected_on_month %></td><td><%= f.collection_select(:collected_on_month , Sample::MM, :to_s, :to_s, :include_blank => true) %></td><td>Choose Month from drop down list 1-12 or blank</td></tr>
	<tr><td><%= f.label :collected_on_year %></td><td><%= f.collection_select(:collected_on_year , Sample::YY, :to_s, :to_s, :include_blank => true) %></td><td>Choose Year from drop down list</td></tr>
	<tr><td><%= f.label :sample_bc %></td><td><%= f.text_field :sample_bc %></td><td>Sample Bar Code if available</td></tr>
	<tr><td><%= f.label :organization_id %></td><td><%= f.collection_select( :organization_id, Organization.find(:all), :id, :org_name, :include_blank => true) %></td><td>The team who collected the sample</td></tr>
	<tr><td><%= f.label :field_indent, 'Field Identification (NEA)'%></td><td><%= f.text_field :field_ident %></td><td>The potential NEA # of the individual sampled</td></tr>
	<tr><td><%= f.label :tissue_type %></td><td><%= f.collection_select( :tissue_type , Sample::TT, :to_s, :to_s, :include_blank => true) %></td><td>Choose Tissue type from drop down list</td></tr>
	<tr><td><%= f.label :shipping_date %></td><td><%= f.text_field :shipping_date %></td><td>The date you shipped the sample if known - Can be filled in later</td></tr>
	<tr><td><%= f.label :export_permit %></td><td><%= f.text_field :export_permit %></td><td>Import Permit</td></tr> 
	<tr><td><%= f.label :import_permit %></td><td><%= f.text_field :import_permit %></td><td>Export Permit</td></tr> 
	<tr><td><%= f.label :sample_bc, 'Sample Bar Code' %></td><td><%= f.text_field :sample_bc %></td><td>Sample Bar Code if available</td></tr>
	<tr><td><%= f.label :field_indent, 'Field Identification (NEA)'%></td><td><%= f.text_field :field_ident %></td><td>The potential NEA # of the individual sampled</td></tr>
	<tr><td><%= f.label :current_location %></td><td><%= f.text_field :current_location %></td><td>The current location of the sample</td></tr>
	<tr><td><%= f.label :comments %></td><td><%= f.text_field :comments %></td><td>Any other comments relevant to this sample</td></tr>

	<%= f.hidden_field :project_id, {:value => 1} %>
	<%= f.hidden_field :user_id  %>

	<% @sample.tissue_type = params[:tissue_type] %>
	<% @sample.collected_on_day = params[:collected_on_day] %>
	<% @sample.collected_on_month = params[:collected_on_month] %>
	<% @sample.collected_on_year = params[:collected_on_year] %>
	<% @sample.project_id = 1%>
	<tr><td><%= f.submit "Create" %></td></tr>
<% end %>
        </tr>
        </table>
