<head>
<style type="text/css">
table, td, th
td
{
vertical-align:middle;
text-align:center;
}
</style>
</head>

<table width="1024" border="0">
  <tr>
    <td width="900" height="450" bgcolor="#D2DBEC">
	<table width="900" height="450" border="0" align="center" bordercolor="#ABBCD8">
	  <tr>
		<td width="900" height="450" align="center" valign="top" bgcolor="#FFFFFF"><table width="900" height="169" border="0">
          <tr>
            <th scope="col"><p><%= image_tag "banner.jpg", :width => "900", :height => "169" %></p>
              </th>
          </tr>
        </table>
		  <table width="904" border="1" align="center" bgcolor="#d2dbec" cellpadding=5>
            <tr>
              <th  >Please fill in all fields with your sample data.<br>  Click the CREATE button when you are finished to add the sample into the database and begin the tracking process.<br>
			  Thank you for entering your sample in the NRDPFC DNA databank.<br>  You can check the tracking section to follow your sample through the system.</th>
            </tr>
          </table>
<style type="text/css">
table, td, th
td
{
text-align:left;
}
</style>

<div align="center">          
<% if ENV['RAILS_SITE'] == 'TRACKER' %>
	<h3 style=background-color:yellow><%= link_to 'DEMO Home', menu_path %></h3>
<%else%>
	<h3><%= link_to 'Home', menu_path %></h3>
<%end%>	

<h2><b><font color=red>SUBMIT</font></b> New Sample </h2>

	<table width="905" height="395" border="0" align="left" cellspacing="2" cellpadding = "2">
		<tr><th>Name</th><th>Value</th><th>Description</th></tr>
         <tr></tr>
	<% form_for(@sample) do |f| %>
	<tr><td  width="25%"><%= f.label :submitted_by %></td><td width = "35%" ><%= f.text_field :submitted_by %></td><td width = "40%" > Current user Logged in</td></tr>
	<tr align=left><td><%= f.label :shipping_date %></td><td><%= f.calendar_date_select :shipping_date %></td><td>The date sample was shipped - click on calendar</td></tr>
	<tr><td><%= f.label :date_submitted %></td><td><%= f.text_field :date_submitted,:value => f.object.date_submitted.strftime('%Y-%m-%d')  unless f.object.date_submitted.nil?  %></td><td>Default is today's date</td></tr>
	<tr><td><%= f.label :field_code %></td><td><%= f.text_field :field_code %></td><td><%= FIELD_CODE_DESC %></td></tr>
	<tr><td><%= f.label :organism_index, 'Necropsy Sample Number' %></td><td><%= f.text_field :organism_index %></td><td>For Necropsies only. This distiguishes multiple samples from the same individual (e.g. 1,2,3,4)<br>Please clearly label samples this way.</td></tr>
	<tr><td><%= f.label :sample_bc, 'Sample Barcode' %></td><td><%= f.text_field :sample_bc %></td><td><%=SAMPLE_BC_DESC%></td></tr>
	<tr><td><%= f.label :photo_id, 'Sighting ID' %></td><td><%= f.text_field :photo_id %></td><td>The unique sighting photo record number associated with this sample</td></tr>
	<tr><td><%= f.label :field_indent, 'Field Identification (NEA)'%></td><td><%= f.text_field :field_ident %></td><td><%=FIELD_INDENT_DESC%></td></tr>
	<tr><td><%= f.label :collected_on_day %></td><td><%= f.collection_select(:collected_on_day , Sample::DD, :to_s, :to_s, {:include_blank => true, :prompt => true } , {"style" => "width:105px" } ) %></td><td>Choose Day from drop down list 1-31 or blank</tr>
	<tr><td><%= f.label :collected_on_month %></td><td><%= f.collection_select(:collected_on_month , Sample::MM, :to_s, :to_s, {:include_blank => true, :prompt => true}, {"style" => "width:105px" } ) %></td><td>Choose Month from drop down list 1-12 or blank</td></tr>
	<tr><td><%= f.label :collected_on_year %></td><td><%= f.collection_select(:collected_on_year , Sample::YY, :to_s, :to_s, {:include_blank => true, :prompt => true }, {"style" => "width:105px" } ) %></td><td>Choose Year from drop down list</td></tr>
	<tr><td><%= f.label :collected_by %></td><td><%= f.collection_select( :organization_id, Organization.find(:all), :id, :org_name, {:include_blank => true, :prompt => true }, {"style" => "width:105px" }) %></td><td>The team who collected the sample</td></tr>
	<tr><td><%= f.label :text_tissue_type %></td><td><%= f.collection_select( :text_tissue_type , Sample::TT, :to_s, :to_s, {:include_blank => true, :prompt => true }, {"style" => "width:105px" } ) %></td><td>Choose Tissue type from drop down list</td></tr>
	<tr><td><%= f.label :export_permit %></td><td><%= f.text_field :export_permit %></td><td>Export Permit</td></tr> 
	<tr height="25"><td><%= f.label :import_permit %></td><td><%= f.text_field :import_permit %></td><td>Import Permit</td></tr> 
	<tr><td><%= f.label :current_location %></td><td><%= f.text_field :current_location %></td><td>The current location of the sample</td></tr>
	<tr><td><%= f.label :comments %></td><td><%= f.text_field :comments %></td><td>Any other comments relevant to this sample</td></tr>

	<%= f.hidden_field :project_id, {:value => 1} %>
	<%= f.hidden_field :user_id  %>
	<%= f.hidden_field :remote_data_entry, {:value => true} %>

	<% @sample.text_tissue_type = params[:text_tissue_type] %>
	<% @sample.collected_on_day = params[:collected_on_day] %>
	<% @sample.collected_on_month = params[:collected_on_month] %>
	<% @sample.collected_on_year = params[:collected_on_year] %>
	<% @sample.project_id = 1%>
	<% @sample.import_permit = "CA027"%>
	<tr><td><%= f.submit "Create" %></td></tr>
<% end %>
</div>
        </tr>
        </table>
