New WHALE Sample Submitted<br>
Name: <%= @name %><br>
Project: <%=@project_id%><br>
Field Code: <%=@field_code%><br>
Date Submitted: <%=nice_date_display(@date_submitted)%><br>
Shipping Date: <%=@shipping_date%><br>
<p></p>
Please email  Meagan Moeyaert mmoeyaert@nrdpfc.ca if you have any questions or concerns